.btn {
  box-shadow: 0px 4px 4px 0px #01cb7c33;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
}
.home {
  border-radius: 36px;
  background: linear-gradient(45deg, #5b52a3 0%, #40b8ea 100%);
}
.categors {
  border-radius: 16px;
  box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.1);
  margin-top: 30px;
}
.bg_kurtka {
  background: #f2f6fc;
  border-radius: 190px;
}
.uslugi {
  border-radius: 16px;
  margin-top: 30px;
  color: #1f2428;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 26px 18px;
  margin-top: 150px;
}
form h3 {
  color: #222222;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 14px;
}
.dostavki p {
  color: #222222;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.dostavki span {
  color: #222222;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.shagov h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
  margin-top: 20px;
}
.shagov p {
  margin-top: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.dolar h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-top: 20px;
}
.dolar p {
  margin-top: 15px;
}
.number span {
  color: #01cd7d;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}
.number h3 {
  color: #1f2428;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}
.number p {
  margin-top: 10px;
}
.sales p {
  margin-top: 15px;
}
.pricas_h2 h2 {
  color: #1f2428;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin-top: 20px;
}
.pricas_h2 p {
  line-height: 26px; /* 150% */
  margin-top: 20px;
}
.bonus_h3 h3 {
  color: var(--1, #1f2428);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-top: 20px;
}
.bonus_h3 p {
  margin-top: 20px;
}
.bg_blue {
  border-radius: 36px;
  background: linear-gradient(45deg, #5b52a3 0%, #40b8ea 100%);
}
.bonus h2 {
  color: #1f2428;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.brends h2 {
color: #1F2428;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
margin-top: 40px;

}
